.row
  .col-3
  .col-6
    .card
      .card-header
        %h4 Resend confirmation instructions
      .card-body
        = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = render 'devise/shared/error_messages', resource: resource
          = f.input :email,                                                                          |
            required: true,                                                                          |
            autofocus: true,                                                                         |
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), |
            input_html: { autocomplete: 'email' }                                                    |
          = f.button :submit, 'Resend confirmation instructions', class: 'btn btn-primary'
          .mt-4
            = render 'users/shared/links'
  .col-3
