.container
  %h2 Dashboard
  %hr
  - if current_grant.latest_invoice.present?
    .d-flex.justify-content-between
      %h4.mr-5 Billing
      = link_to 'View Invoice Details', reu_program_invoice_path(current_grant.latest_invoice)
    %hr
  - elsif current_grant.charged_credit_card?
    .d-flex.justify-content-between.pb-3
      %h4.mr-5 Billing
      %p Active Account
  - else
    .d-flex.alert.alert-warning.justify-content-between
      %h4.mr-5 Billing
      .btn-group
        = link_to 'Request an Invoice', new_reu_program_invoice_path, class: 'btn btn-warning'
        = link_to 'Pay by Credit Card', new_reu_program_charge_path, class: 'btn btn-warning'

  - unless Setting.all_setup?
    .row
      .col
        .alert.alert-danger.d-flex.justify-content-between
          All Settings are not yet configured.  Please a value to every setting.
          = link_to 'Update Settings', reu_program_settings_path

  - unless Snippet.all_setup?
    .row
      .col
        .alert.alert-danger.d-flex.justify-content-between
          All Snippets are not yet configured.  Please a value to every Snippets.
          = link_to 'Update Snippets', reu_program_snippets_path

  .row
    .col
      %h4.float-left Details
  .row
    .col
      %table.table
        %thead
          %tr
            %th Application Start Date
            %th Application Deadline
            %th Notification Date
            %th Program Start Date
            %th Program End Date
            %th University
            %th Department
        %tbody
          %tr
            %td= Setting['Application Start']
            %td= Setting['Application Deadline']
            %td= Setting['Notification Date']
            %td= Setting['Program Start Date']
            %td= Setting['Program End Date']
            %td= Setting['University']
            %td= Setting['Department']

  .row
    .col
      %h4.float-left Applications
  .row
    .col
      %table.table
        %thead
          %tr
            %th Started
            %th Completed
            %th Accepted
            %th Rejected
            %th Withdrawn
            %th Total
        %tbody
          %tr
            %td= @count['started'] || 0
            %td= @count['completed'] || 0
            %td= @count['accepted'] || 0
            %td= @count['rejected'] || 0
            %td= @count['withdrawn'] || 0
            %td= @sum
