<div class="panel panel-primary">
  <div class="panel-heading">Recommender Information</div>
  <div class="panel-body">

    <%= form_for(@applicant, :url => applicants_recommenders_url, :html => { :role => 'form', :method => :put }) do |f| %>

      <%= errors_for @applicant %>

      <p><b>Please submit contact information for 2 letters of recommendation.</b></p>
      
      <div class="form-group">
        <%= f.fields_for :recommenders do |builder| %>
          <%= render 'recommender_fields', f: builder %>
        <% end %>

        <b>Please note that only up to TWO letters of recommendation are read for your application. Do NOT add a third recommender unless one of your first two recommenders did not respond or needs to be modified.</b>
        <div class='add-container'>
          <%= link_to_add_fields "Add recommender", f, :recommenders %>
        </div>
      </div>
      <hr />

      <%= render "applicants/shared/nav" %>

      <b>Please note that requests for letters of recommendation will not be sent until your application is complete.</b>

      <p>
        <%= f.submit "Save Recommendation Info", :class => "btn btn-ar btn-primary" %>
      </p>

      <small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue your application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small>

    <%- end -%>

  </div>
</div>
