<div class="panel panel-primary">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => "form", :method => :put }) do |f| %>

    <div class="panel-heading">Contact Info</div>
    <div class="panel-body">
      <div class="col-md-12"><small class="pull-right">* Required</small></div>
      <%= status_error_messages! if current_applicant %>

      <%= application_status if @user %>

      <div class="form-group">

        <%= f.label :first_name, '* First Name' %>
        <%= f.text_field :first_name, :class => "form-control", :placeholder => "George" %>

        <%= f.label :last_name, '* Last Name' %>
        <%= f.text_field :last_name, :class => "form-control", :placeholer => "Washington" %>

        <%= f.label :email, '* Email' %>
        <%= f.email_field :email, :class => "form-control", :placeholder => 'george@whitehouse.gov' %>

        <%= f.label :phone, '* Phone' %>
        <%= f.text_field :phone, :class => "form-control", :placeholder => '555-555-5555' %>

        <%= f.label :cell_phone, '* Cell Phone' %>
        <%= f.text_field :cell_phone, :class => "form-control", :placeholder => '555-555-5555' %>

        <%= f.label :citizenship, '* Citizenship' %>
        <%= f.select :citizenship, options_for_select(['United States'] + Carmen::Country.all.map(&:name) + ["Prefer to not respond"], @applicant.citizenship), { :include_blank => true }, { :class => "form-control" } %>

        <div class="checkbox">
          <%= f.check_box :green_card_holder %>
          <%= f.label :green_card_holder, 'If your citizenship is not United States, are you a United States permanent resident (i.e., green card holder)?' %>
        </div>
      </div>

    </div>

    <div class="panel-heading">Addresses</div>
    <div class="panel-body">

      <p>Please enter at least your permanent address and your school mailing address.</p>
      <p>If your school mailing address is also your permanent address, please enter it in both locations.</p>

      <div class="form-group">
        <%= f.fields_for :addresses do |builder| %>
          <%= render 'address_fields', f: builder %>
        <% end %>

        <div class='add-container'>
          <hr />
          <%= link_to_add_fields "Add Location", f, :addresses %>
        </div>

      </div>

    </div>

    <div class="panel-heading">Personal Information</div>
    <div class="panel-body">

      <div class="form-group">

        <%= f.label :dob, "* Date of Birth (YYYY-MM-DD)" %>
        <%= f.text_field :dob, 'data-behaviour' => 'datepicker', :class => "form-control" %>

        <%= f.label :gender, '* Gender' %>
        <%= f.select :gender, options_for_select(["Male", "Female", "I do not define my gender this way", "Prefer to not respond"], @applicant.gender), { :include_blank => true }, { :class => "form-control" } %>

        <div class="checkbox">
          <%= f.check_box :member_of_lgbt_community %>
          <%= f.label :member_of_lgbt_community, 'Do you consider yourself a member of the LGBT+(lesbian, gay, bisexual, transgender) community?' %>
        </div>

        <%= f.label :ethnicity, '* Ethnicity' %>
        <%= f.select :ethnicity, options_for_select( ["Hispanic or Latino", "Not Hispanic or Latino", "Prefer to not respond"], @applicant.ethnicity), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :race, '* Race' %>
        <%= f.select :race, options_for_select(["American Indian or Alaskan Native", "White", "Asian", "Black or African American", "Native Hawaiian or Pacific Islander", "Prefer to not respond"], @applicant.race), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :fathers_highest_education, "Father's Highest Education" %>
        <%= f.select :fathers_highest_education, options_for_select(Applicant::EDUCATION_LEVELS, @applicant.fathers_highest_education), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :mothers_highest_education, "Mother's Highest Education" %>
        <%= f.select :mothers_highest_education, options_for_select(Applicant::EDUCATION_LEVELS, @applicant.mothers_highest_education), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :disability, '* Disability' %>
        <%- if show_disability_input? -%>
          <div id='disability_container' class='input-append'>
            <%= f.text_field :disability, :class => "form-control" %>
            <span class='add-on'>Please provide a brief description of your disability</span>
            <button id='disability_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
          </div>
        <%- else -%>
          <%= f.select :disability, options_for_select(["No", "Yes", "Prefer to not respond"], @applicant.disability), { :include_blank => true }, { :class => "form-control" } %>
        <%- end -%>

        <%= f.label :are_you_a_veteran_of_the_USA_military?, '* Are you a veteran of the USA military?' %>
        <%= f.select :military, options_for_select(["No", "Yes", "Prefer to not respond"], @applicant.military), { :include_blank => true }, { :class => "form-control" } %>

        <%= f.label :veteran_information %>
        <%= f.select :veteran_information, options_for_select(['VETS-100', 'VETS-100a'], @applicant.military), { :include_blank => true }, { :class => "form-control" } %>
      </div>
    </div>


    <div class="panel-heading">* Personal Statement</div>
    <div class="panel-body">

      <div class="form-group">
        <%= f.text_area :statement, :class => 'form-control', :rows => 6, :placeholder => "Statement describing your research interests and personal goals for the internship"  %>
      </div>
    </div>

    <div class="panel-heading">How did you hear about us?</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :found_us, 'How did you find us?' %>
        <%= f.text_field :found_us %>
      </div>
    </div>

    <div class="panel-heading">Program Dates</div>
      <br>
      <p><b>Please Note:</b> We may be able to work with you if your final exams do not end before the program start date.  We are willing to proctor final exams, if your institution is willing to allow such an arrangement.  It would be up to you to arrange this with your institution.</p>
    <div class="panel-body">
      <div class="checkbox">
        <%= f.check_box :acknowledged_dates %>
        <%= f.label :acknowledged_dates, "By checking this box I acknowledge the dates of the programs as, Program Start Date: #{format_date_string(Setting['program_start_date'])}, Program End Date: #{format_date_string(Setting['program_end_date'])}" %>
      </div>
    </div>

    <%= render "applicants/shared/nav" %>

    <div class="panel-body">
      <hr />
      <p class='clear'><%= f.submit "Save Profile Data", :class => "btn btn-ar btn-primary" %></p>
      <p><small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue you application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small></p>
    </div>

  <% end %>
</div>
