<div class="panel panel-primary">

  <%= form_for(resource, :as => resource_name, :url => main_app.applicant_registration_path, :html => { :role => "form", :method => :put }) do |f| %>

    <div class="panel-heading">Contact Info</div>
    <div class="panel-body">
      <div class="col-md-12"><small class="pull-right">* Required</small></div>
      <%= status_error_messages! if current_applicant %>

      <%= application_status if @user %>

      <div class="form-group">

        <%= f.label :first_name %> *
        <%= f.text_field :first_name, :class => "form-control", :placeholder => "George" %>

        <%= f.label :last_name %> *
        <%= f.text_field :last_name, :class => "form-control", :placeholer => "Washington" %>

        <%= f.label :email %> *
        <%= f.email_field :email, :class => "form-control", :placeholder => 'george@whitehouse.gov' %>

        <%= f.label :phone %> *
        <%= f.text_field :phone, :class => "form-control", :placeholder => '555-555-5555' %>

      </div>

    </div>

    <div class="panel-heading">Addresses</div>
    <div class="panel-body">

      <p>Please enter at least one postal address.</p>

      <div class="form-group">
        <%= f.fields_for :addresses do |builder| %>
          <%= render 'address_fields', f: builder %>
        <% end %>

        <div class='add-container'>
          <hr />
          <%= link_to_add_fields "Add Location", f, :addresses %>
        </div>

      </div>

    </div>

    <div class="panel-heading">Personal Info</div>
    <div class="panel-body">

      <div class="form-group">

        <%= f.label :dob, "Date of Birth (YYYY-MM-DD)" %> *
        <%= f.text_field :dob, 'data-behaviour' => 'datepicker', :class => "form-control" %>

        <%= f.label :gender %> *
        <%= f.select :gender, options_for_select(%w{Male Female}, @applicant.gender), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>

        <%= f.label :ethnicity %> *
        <%= f.select :ethnicity, options_for_select(%w{ Hispanic\ or\ Latino Not\ Hispanic\ or\ Latino }, @applicant.ethnicity), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>

        <%= f.label :race %> *
        <%= f.select :race, options_for_select(%w{ American\ Indian\ or\ Alaskan Caucasian Native Asian Black\ or\ African\ American Native\ Hawaiian\ or\ Pacific\ Islander}, @applicant.race), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>

        <%= f.label :citizenship %> *
        <%= f.select :citizenship, options_for_select(['United States'] + Carmen::Country.all.map(&:name), @applicant.citizenship), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>

        <%= f.label :disability %> *
        <%- if show_disability_input? -%>
          <div id='disability_container' class='input-append'>
            <%= f.text_field :disability, :class => "form-control" %>
            <span class='add-on'>Please specify</span>
            <button id='disability_cancel' class='btn btn-ar btn-primary btn-danger' type='button'>Cancel</button>
          </div>
        <%- else -%>
          <%= f.select :disability, options_for_select(%w{No Yes}, @applicant.disability), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>
        <%- end -%>

        <%= f.label :are_you_a_veteran_of_the_USA_military? %> *
        <%= f.select :military, options_for_select(%w{No Yes}, @applicant.military), { :include_blank => "Prefer to not respond" }, { :class => "form-control" } %>
      </div>
    </div>


    <div class="panel-heading">Personal Statement</div>
    <div class="panel-body">

      <div class="form-group"> *
        <%= f.text_area :statement, :class => 'form-control', :rows => 6, :placeholder => "Please Complete a brief essay (up to 250 words) explaining why you are interested in our program and how the experience may help you achieve your future goals."  %>
      </div>
    </div>

    <div class="panel-heading">How did you hear about us?</div>
    <div class="panel-body">
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'NSF REU Website') %>NSF REU Website</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Professor') %>Professor</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Undergraduate Program') %>Undergraduate Program</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Email') %>Email</label></div>
      <div class="radio"><label for=""><%= f.radio_button(:found_us, 'Other') %>Other</label></div>
    </div>

    <div class="panel-heading">Preferred Mentor</div>
    <div class="panel-body">
      <%= f.label :mentor_choice_1 %> *
      <%= f.select :mentor1, options_for_select(%w{ Adah\ Almutairi Shaochen\ Chen Shu\ Chien Karen\ Christman Adam\ Engler Stephanie\ Fraley Joanna\ McKittrick Robert\ Sah Michael\ Sailor Shyni\ Varghese Liangfang\ Zhang}, @applicant.mentor1), { :class => "form-control" } %>
      <%= f.label :mentor_choice_2 %> *
      <%= f.select :mentor2, options_for_select(%w{ Adah\ Almutairi Shaochen\ Chen Shu\ Chien Karen\ Christman Adam\ Engler Stephanie\ Fraley Joanna\ McKittrick Robert\ Sah Michael\ Sailor Shyni\ Varghese Liangfang\ Zhang}, @applicant.mentor2), { :class => "form-control" } %>
    </div>

    <div class="panel-heading">Program Dates</div>
    <div class="panel-body">
      <div class="checkbox">
        <%= f.check_box :acknowledged_dates %>
        <%= f.label :acknowledged_dates, "By checking this box I acknowledge the dates of the programs as, Program Start Date: #{format_date_string(Setting[:program_start_date])}, Program End Date: #{format_date_string(Setting[:program_end_date])}" %>
      </div>
    </div>

    <%= render "applicants/shared/nav" %>

    <div class="panel-body">
      <hr />
      <p class='clear'><%= f.submit "Save Profile Data", :class => "btn btn-ar btn-primary" %></p>
      <p><small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue you application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small></p>
    </div>

  <% end %>
</div>
