<div class="panel panel-primary">

  <div class="panel-heading">Status</div>
  <div class="panel-body">

    <%= status_error_messages! if current_applicant %>
    <%= application_status if current_applicant %>
  </div>

  <div class="panel-heading">Contact Information</div>
    <div class="panel-body">

    <ul class="form-group">
      <li><b>Name:</b>  <%= current_applicant.name if current_applicant.name %></li>
      <li><b>Email:</b> <%= current_applicant.email %></li>
      <li><b>Phone:</b> <%= current_applicant.phone if current_applicant.phone %></li>
      <li><b>Cell Phone:</b> <%= current_applicant.cell_phone if current_applicant.cell_phone %></li>
      <li><b>Citizenship:</b>  <%= current_applicant.citizenship %></li>

      <%- if current_applicant.green_card_holder == true -%>
        <li><b>Green Card:</b> Yes</li><br />
        <%- else -%>
          <li><b>Green Card:</b> No</li><br />
      <%- end -%>

      <%- current_applicant.addresses.each do |address| -%>
        <%- if address.to_s.present? -%>
          <li><b>Label:</b> <%= address.label %></li>
          <li><b>Is this address permanent?</b> <%= address.permanent %></li>
          <li><b>Street Address:</b> <%= address.address %></li>
          <li><b>Apartment:</b> <%= address.address2 %></li>
          <li><b>City:</b> <%= address.city %></li>
          <li><b>State:</b> <%= address.state %></li>
          <li><b>Zip:</b> <%= address.zip %></li><br />
        <%- end -%>
      <%- end -%>
    </ul>

  </div>

  <div class="panel-heading">Personal Information</div>
    <div class="panel-body">

    <ul class="form-group">
      <li><b>Date of Birth:</b>  <%= current_applicant.dob %></li>
      <li><b>Gender:</b> <%= current_applicant.gender %></li>

      <%- if current_applicant.member_of_lgbt_community == true -%>
        <li><b>LGBT Community:</b> Yes</li>
        <%- else -%>
          <li><b>LGBT Community:</b> No</li>
      <%- end -%>

      <li><b>Ethnicity:</b> <%= current_applicant.ethnicity %></li>
      <li><b>Race:</b>  <%= current_applicant.race %></li>
      <li><b>Father's Highest Education:</b>  <%= current_applicant.fathers_highest_education %></li>
      <li><b>Mother's Highest Education:</b>  <%= current_applicant.mothers_highest_education %></li>
      <li><b>Disability:</b>  <%= current_applicant.disability %></li>
      <li><b>Are you a veteran of the USA military?</b>  <%= current_applicant.military %></li>
      <li><b>Veteran Information:</b>  <%= current_applicant.veteran_information %></li>
    </ul>
  </div>

  <div class="panel-heading">How did you hear about us?</div>
    <div class="panel-body">

    <ul class="form-group">
      <li><%= current_applicant.found_us %></li>
    </ul>
  </div>

  <div class="panel-heading">Recommenders</div>
  <div class="panel-body">
    <ul>
      <%- current_applicant.recommenders.each do |recommender| -%>
        <li>
          <%= raw recommender %><br />
          <%= recommendation_received_label(recommender) %>
          <%= recommender.address %> <%= recommender.city %>, <%= recommender.state %> <%= recommender.zip %> <%= recommender.country %>
        </li>
      <%- end -%>
    </ul>
    <%=link_to "Add a Recommender", applicants_recommenders_url, :class => 'btn btn-default' %>
  </div>

  <div class="panel-heading">Research Interest</div>
  <div class="panel-body">

    <ul class="form-group">
      <li><b>Research Interest 1:</b> <%= current_applicant.interest.research_interest_1 if current_applicant.interest %></li>
      <li><b>Research Interest 2:</b> <%= current_applicant.interest.research_interest_2 if current_applicant.interest %></li>
      <li><b>Research Interest 3:</b> <%= current_applicant.interest.research_interest_3 if current_applicant.interest %></li>
    </ul>
  </div>

  <div class="panel-heading">Academic Information</div>
  <div class="panel-body">

    <ul class="form-group">
      <%- current_applicant.records.each do |record| -%>
        <%- if record.to_s.present? -%>
          <li><%= raw record.to_s %></li>
          <li><b>Major:</b> <%= record.major %></li>
          <li><b>Minor:</b> <%= record.minor %></li>
          <li><b>GPA:</b> <%= record.gpa %> out of <%= record.gpa_range %></li><br />
        <%- end -%>
      <%- end -%>

      <li><b>GPA Comments:</b> <%= raw(Markdown.render(current_applicant.gpa_comment)) if current_applicant.gpa_comment %></li>

      <%- current_applicant.awards.each do |award| -%>
        <li><b>Award:</b> <%= award %></li>
      <%- end -%>
    </ul>
  </div>

  <div class="panel-heading">Skills and Experience</div>
  <div class="panel-body">

    <ul class="form-group">
      <li><b>Personal Statement:</b> <%= raw(Markdown.render(current_applicant.interest.statement)) if current_applicant.interest %>
      <li><b>Facing Challenges Experience:</b> <%= raw(Markdown.render(current_applicant.interest.facing_challenges_experience)) if current_applicant.interest %>
      <li><b>Research Experience:</b> <%= raw(Markdown.render(current_applicant.interest.research_experience)) if current_applicant.interest %>
      <li><b>Leadership Experience:</b> <%=raw(Markdown.render(current_applicant.interest.leadership_experience)) if current_applicant.interest %></li>
      <li><b>Computer Skills:</b> <%= raw(Markdown.render(current_applicant.interest.cpu_skills)) if current_applicant.interest %>
    </ul>
  </div>
</div>

<% if current_applicant.state == 'completed_recommender_info' %>
  <%= raw Snippet[:submit_application_heading] %>
  <%= content_tag :div, content_tag(:p, link_to("Submit Application", submit_application_path, :class => "btn btn-success")), :class => 'inner' %>
<% elsif expired? %>
  <h3>The application deadline has past</h3>
<% end %>

<hr class='clear inner' />
<% if !expired? %>
  <div class="inner">
    <%= content_tag :p, link_to("Edit Application Data", edit_applicant_registration_path(current_applicant), :class => "btn btn-mini btn-ar btn-primary") + raw("&nbsp;&nbsp;&nbsp;") unless current_applicant.submitted_at %>
    <p>Please note deleting your application will delete your account too <%= link_to "Delete your application", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-mini btn-danger" %></p>
    <% unless current_applicant.state == 'complete' || current_applicant.state == 'submitted' %>
      <small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue your application at anytime<%= ", however, it will not be accepted until all the above data has been submitted" %>.</strong></small>
    <%- end -%>
  </div>
<% end %>
