.row
  .col-md-12
    .col-md-12
      %h3 General Info
    .col-md-6
      = image_tag('seti-reu-2019.jpg', class: 'pull-left img-responsive center-block')
    .col-md-6
      = raw Snippet[:general_description]
      %p 
        It is wise to apply to many internship programs, not just ours!
      %p 
        %strong
        = link_to "Here is a list of REU programs", "https://www.nsf.gov/crssprgm/reu/reu_search.jsp"
      %p 
        %strong
        = link_to "Here is a list of NASA internship opportunities", "https://intern.nasa.gov"
    .col-md-12
      - if expired?
        %h3.deadline
          The deadline for applications has passed. Please sign in to see existing application status.
      - elsif started?
        %h3.deadline
          Application Deadline #{Setting[:application_deadline].to_date.strftime("%A, %b %d") if Setting[:application_deadline]}
        .app_button
          - if applicant_signed_in? && current_applicant.state == 'submitted'
            = link_to "Check Status", applicant_status_url, :class => "btn btn-lg btn-success"
          - elsif applicant_signed_in?
            = link_to "Finish Application", edit_applicant_registration_path, :class => "btn btn-lg btn-success"
          - else
            = link_to "Apply Now", new_applicant_registration_path, :class => "btn btn-lg btn-success"
      - else
        %h3.deadline
          Applications will be available in #{Setting[:application_start].to_date.strftime("%A, %b %d")} for the Summer 2020 Program. Applications will be due at 11:59pm Pacific Time on #{Setting[:application_deadline].to_date.strftime("%A, %b %d") if Setting[:application_deadline]} and Decisions sent to applicants by #{Setting[:notification_date].to_date.strftime("%A, %b %d")}.
        %br
        %p
          <strong> Program Dates: </strong> #{Setting[:program_start_date].to_date.strftime("%B %d, %Y")} - #{Setting[:program_end_date].to_date.strftime("%B %d, %Y")} 
          <br>
          %strong
            Please Note:
          We may be able to work with you if your final exams do not end before the program start date.  We require all interns to be present for the entire program, including the first day.  However, we are willing to proctor final exams, if your institution is willing to allow such an arrangement.  It would be up to you to arrange this with your institution.


  .col-md-12
    %section.col-md-4
      %h3 Program Highlights
      = link_to "Click here to view the full list of mentors and projects for Summer 2020.", "https://www.seti.org/seti-institute-reu-mentors-2020"
      %p
      = raw Snippet[:highlights]

    %section.col-md-4
      %h3 Eligibility Requirements
      = raw Snippet[:eligibility_requirements]

    %section.col-md-4
      %h3 Application Information
      = raw Snippet[:application_information]
