<fieldset>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => 'National medal of science', :class => 'form-control' %>
  <%= f.label :date %>
  <%= f.text_field :date, 'data-behaviour' => 'datepicker', :placeholder => "Date (YYYY-MM-DD)", :class => 'form-control' %>
  <%= f.label :description %>
  <%= f.text_area :description, :class => 'span8', :rows => 2, :placeholder => "Award Description (Optional)", :class => 'form-control' %>

  <div class="inner">
    <br />
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove this record", '#', class: "remove_fields btn btn-mini btn-danger" %>
  </div>
  <hr class="inner clear" />
</fieldset>
