<fieldset>
  <div class="panel-heading">Research Interest</div>
  <div class="panel-body">
    <%= link_to "Click here to view the full list of mentors and projects for Summer 2020.", 'https://www.seti.org/seti-institute-reu-mentors-2020' %>
    <div class="small-font">
      <ul>
        <li><strong>Peter Jenniskens</strong>: How the comet crumbles</li>
        <li><strong>Kathryn Bywaters</strong>: New flight hardware for monitoring microbial growth</li>
        <li><strong>Pascal Lee</strong>: Pits and caves on the Moon and Mars: Science potential and significance for astrobiology and human exploration</li>
        <li><strong>Janice Bishop</strong>: Remote detection of aqueous minerals on Mars as indicators of the geochemical environment</li>
        <li><strong>Ann Marie Cody and Doug Caldwell</strong>: Finding the youngest stars in the sky with TESS data</li>
        <li><strong>Cristina Dalle Ore</strong>: A study of ice on Rhea as a tool to measure the age of Saturn’s icy satellites</li>
        <li><strong>Chloe Beddingfield</strong>: Thermal properties of Saturn’s moon Rhea</li>
        <li><strong>Alex Pollak and Andrew Siemion</strong>: Instrumentation development for radio technosignature searches at the ATA</li>
        <li><strong>David Summers</strong>: Microbial detection at low levels by iodine-125 radiolabeling</li>
        <li><strong>Friedemann Freund</strong>: Electrostatic charging of dust</li>
        <li><strong>Virginia Gulick</strong>: Fluvial studies using high-resolution images and Digital Terrain Maps</li>
        <li><strong>Matthew Tiscareno</strong>: Mesoscale structures in Saturn's rings</li>
      </ul>
    </div>
    <br>
    <%= f.label :research_interest_1, 'First Choice' %>
    <%= f.select :research_interest_1, options_for_select(Interest::RESEARCH_INTERESTS, f.object.research_interest_1), { :include_blank => true }, { :class => "form-control" } %>
    <%= f.label :research_interest_2, 'Second Choice' %>
    <%= f.select :research_interest_2, options_for_select(Interest::RESEARCH_INTERESTS, f.object.research_interest_2), { :include_blank => true }, { :class => "form-control" } %>
    <%= f.label :research_interest_3, 'Third Choice' %>
    <%= f.select :research_interest_3, options_for_select(Interest::RESEARCH_INTERESTS, f.object.research_interest_3), { :include_blank => true }, { :class => "form-control" } %>
    <br>
  </div>

  <div class="panel-heading">Background and Goals</div>
  <div class="panel-body">
    <%= f.label :personal_statement, "Personal Statement" %>
    <%= f.text_area :statement, :class => 'form-control', :rows => 2, :placeholder => " Please describe your career goals, how your background has shaped your goals and prepared you to meet your goals, and how a SETI Institute REU internship fits into your plan."  %>

    <%= f.label :facing_challenges_experience, "Facing Challenges Experience" %>
    <%= f.text_area :facing_challenges_experience, :class => 'form-control', :rows => 2, :placeholder => "Please write about an experience of overcoming adversity or an obstacle in your life.  For tips, see the short (1.5 minutes) video at https://www.youtube.com/watch?v=p7HFxWI6YVg"  %>

    <%= f.label :research_experience, "Research Experience" %>
    <%= f.text_area :research_experience, :class => 'form-control', :rows => 2, :placeholder => " Please describe any research or related experience.  Please be aware that you may have a competitive application, even without research experience."  %>

    <%= f.label :leadership_experience, "Leadership Experience" %>
    <%= f.text_area :leadership_experience, :class => 'form-control', :rows => 2, :placeholder => "Please describe one or more times in your life where you needed to exercise leadership (it does not need to be academic)."  %>

    <%= f.label :cpu_skills, 'Computer Skills' %>
    <%= f.text_area :cpu_skills, :class => 'form-control', :rows => 2, :placeholder => "Please describe your experience with computers.  Please be specific about your comfort level with operating systems (such as Windows, Unix/Linux, or Macintosh), and with programming languages (such as C, Python, Matlab, or IDL)."  %>
  </div>
</fieldset>

