<div class="panel panel-primary">
  <%= form_for(current_applicant, :url => applicants_records_url, :html => { :method => :put, :multipart => true }) do |f| %>
      <%= errors_for current_applicant %>

      <div class="form-group">
        <%= f.fields_for :interest do |builder| %>
          <%= render 'interest_fields', f: builder %>
        <% end %>
      </div>

      <div class="form-group">
        <div class="panel-heading">Academic Information</div>
        <div class="panel-body">
          <%= f.fields_for :records do |builder| %>
            <%= render 'record_fields', f: builder %>
          <% end %>
          <div class="add-container"><%= link_to_add_fields "Add institution", f, :records %></div>
        </div>
      </div>

    <div class="panel-heading">GPA Comments</div>
    <div class="panel-body">
      <%= f.text_area :gpa_comment, :class => 'form-control', :rows => 2, :placeholder => "Do you feel your GPA accurately reflects your academic abilities? Please comment on why or why not in the space provided."  %>
    </div>

    <%= render "applicants/shared/nav" %>

    <div class="panel-body">
      <hr />
      <p class='clear'><%= f.submit "Save Academic Info", :class => "btn btn-success" %></p>
      <small><strong>You can <%= link_to "logout", destroy_applicant_session_path, :method => :delete %> and continue your application at anytime, however, it will not be accepted until all the above data has been submitted.</strong></small>
    </div>

  <% end %>
</div>
