<div class="inner">
  <div class="panel panel-primary">
    <div class="panel-heading">Step 2: Configure Your Settings</div>
    <div class="panel-body">
      <%= form_for(@grant, url: settings_path, method: :post) do |f| %>
        <%= f.fields_for :settings do |settings_f| %>
        <%= settings_f.label :value, settings_f.object.name %>
        <div class='hint'><%= settings_f.object.description %></div>
        <%= settings_f.text_field :value, :class => 'form-control', :rows => 4 %>
        <br>
        <% end %>
        <%= f.submit :Update, :class => 'btn btn-ar btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
