.container
  .col.mx-2
    %h1 Recommenders
    .h5.text-center.instructions.mt-3.mb-5 Select #{link_to('Status', status_path)} from the top menu to finalize your application.

    - if @form
      :ruby
        attrs = {
          style: "display: none;",
          data: {
            schema: @form.json_schema(section: 'recommender'),
            data: JSON.generate(current_application&.recommender_info || {}),
            path: recommenders_path,
            method: 'PATCH'
          }
        }

      .form-data{ attrs }

      #customForm
      .p.text-center.instructions.mt-5 Be sure to save your application before navigating away from the current page.
      .container.mt-3.d-flex.justify-content-center
        %a.text-centered.btn.btn-primary.mb-3{:href => status_path} View Application Status & Finalize Application

      - if Rails.env.development?
        %hr
        %h3 this is only in dev
        %pre(style="border: 1px solid black; background: lightgrey; padding: 10px; border-radius: 5px;")
          = JSON.pretty_generate(attrs)
          = "\n"
          = JSON.pretty_generate(current_application&.recommender_info || {})
          = "\n"
          = @form.pretty_json_schema
        %hr
    - else
      .alert.alert-warning
        %p There is no active form please alert the administrators.
