<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        <h1>
                *New Support Request*
        </h1>

        <b>Name:</b> <%= @first_name %> <%= @last_name %><br/>
        <b>Email:</b> <%= @email %><br/>
        <b>Phone:</b> <%= @phone %><br/>
        <b>Program:</b> <%= @program_name || 'N/A' %><br/><br/>

        <b>Message:</b> <%= @message %><br/><br/>

        <p>
                Please respond to this request ASAP! 🙌
        </p>
</body>
</html>

