.row
  .col-2
  .col-8
    %h2 Edit Setting
    = simple_form_for [:reu_program, @setting] do |f|
      .row
        .col
          %p
            %strong Name:
            = f.object.name
      .row
        .col
          %p
            %strong Description:
            = f.object.description
      = f.input :value
      %hr
      = f.submit 'Save Setting', class: 'btn btn-primary'
  .col-2
 
  
