= simple_form_for [:reu_program, @setting], as: :setting, url: reu_program_setting_path do |f|
  .modal-header
    %h5 Edit #{f.object.name} Setting
    %button.close(data-dismiss="modal")
      %span== &times;
  .modal-body
    .row
      .col
        %p
          %strong Description:
          = f.object.description
    .row
      .col
        %p
        - case f.object
        - when Settings::DateSetting
          = f.input :value, input_html: { class: :datepicker }
          :javascript
            $('.datepicker').
            flatpickr()
          -# = f.time_zone_select(:time_zone)
          = f.input :time_zone, priority: /US/
        - else
  .modal-footer.d-flex.justify-content-end
    = f.submit 'Update Setting', class: 'btn btn-primary'
