.container
  .row
    .col
      %h2 Settings
  .row.mb-5.overflow-auto.mx-1
    .col
      %table.table
        %thead
          %tr
            %th Name
            %th Description
            %th Value
            %th Actions
        %tbody
          - @settings.each do |setting|
            %tr
              %td
                = setting.name
                - if setting.optional?
                  %br
                  (Optional)
              %td= setting.description
              %td
                = truncate(setting.value, length: 100)
                = setting.time_zone
              %td.actions
                .btn-group
                  %button.btn.btn-outline-secondary.btn-sm(type="button" data-target="modal-btn" data-path="#{edit_reu_program_setting_path(setting)}") Edit
                  = link_to 'Clear', clear_reu_program_setting_path(setting), class: 'btn btn-outline-secondary btn-sm'

= render 'shared/edit_modal'
