/ Modal
.modal.fade(id="#{modalId}" aria-hidden="true" aria-labelledby="exampleModalLabel" tabindex="-1")
  .modal-dialog
    .modal-content
      = form_for :csv_fields, url: url , method: :post do
        .modal-header
          %h5#exampleModalLabel.modal-title Pick Fields for CSV
          %button.close(aria-label="Close" data-dismiss="modal" type="button")
            %span(aria-hidden="true") ×
        .modal-body
          - @form = ApplicationForm.active
          - @form.sections.each do |section|
            .row.border-bottom.mt-2
              .col
                %p
                  %strong= section.title
              .col
                - section.fields.each do |field|
                  .form-group.form-check.mb-0
                    - name = "csv_fields[#{section.id}][]"
                    = check_box_tag name, field.id, true, class: 'form-check-input'
                    = label_tag name, field.title

        .modal-footer
          %button.btn.btn-secondary(data-dismiss="modal" type="button") Close
          %button.btn.btn-primary Download CSV
