.container
  .row
    .col
      %h2.float-left Applicants
    .col
      .btn-group.float-right
        %button.btn.btn-light.float-right= link_to 'Export All as CSV', reu_program_applications_path(format: 'csv')
        %button.btn.btn-light.float-right= link_to 'Export All as PDF', reu_program_applications_path(format: 'pdf')
  .row
    .col
      .btn-group.mb-3
        = link_to 'All', reu_program_applications_path, class: "btn btn-outline-secondary #{'active' if params[:state].blank?}"
        - Application.states.each do |state|
          - s = state.first
          = link_to s.capitalize, reu_program_applications_path(state: s), class: "btn btn-outline-#{status_class(s)} #{'active' if s == params[:state]}"
  .row
    .col
      %table.table
        %thead
          %tr
            %th Name
            %th Email
            %th State
            %th Actions
        %tbody
          - @applications.each do |application|
            %tr
              %td= application.full_name
              %td= application.user.email
              %td= application.state
              %td.actions
                .btn-group
                  = link_to 'Show', reu_program_application_path(application), class: 'btn btn-outline-secondary btn-sm'
                  = link_to 'PDF', reu_program_application_path(application, format: 'pdf'), class: 'btn btn-outline-secondary btn-sm'
                  = link_to 'CSV', reu_program_application_path(application, format: 'csv'), class: 'btn btn-outline-secondary btn-sm'
  .row
    .col
      = paginate @applications
  .row
    .col
      %center
        - if params[:state].blank?
          = "#{@sum} Application".pluralize(@sum)
        - Application.states.each do |state|
          - application_state = state[0]
          - application_count = @count[state[0]] || 0
          - if params[:state] == application_state
            = "#{application_count} #{"Application".pluralize(application_count)} #{application_state.capitalize}"

        -# - if params[:state].blank? && @sum == 1
        -#   = "#{@sum} Application" 
        -# - if params[:state].blank? && @sum == nil
        -#   = "0 Applications" 
        -# - if params[:state].blank? && @sum != 1 && @sum != nil
        -#   = "#{@sum} Applications"
        -# - if params[:state] == 'started' && @count['started'] == 1
        -#   = "#{@count['started']} Application Started" 
        -# - if params[:state] == 'started' && @count['started'] == nil
        -#   = "0 Applications Started" 
        -# - if params[:state] == 'started' && @count['started'] != 1 && @count['started'] != nil
        -#   = "#{@count['started']} Applications Started" 
        -# - if params[:state] == 'completed' && @count['completed'] == 1
        -#   = "#{@count['completed']} Application Completed" 
        -# - if params[:state] == 'completed' && @count['completed'] == nil
        -#   = "0 Applications Completed" 
        -# - if params[:state] == 'completed' && @count['completed'] != 1 && @count['completed'] != nil
        -#   = "#{@count['completed']} Applications Completed" 
        -# - if params[:state] == 'accepted' && @count['accepted'] == 1
        -#   = "#{@count['accepted']} Application Accepted" 
        -# - if params[:state] == 'accepted' && @count['accepted'] == nil
        -#   = "0 Applications Accepted" 
        -# - if params[:state] == 'accepted' && @count['accepted'] != 1 && @count['accepted'] != nil
        -#   = "#{@count['accepted']} Applications Accepted" 
        -# - if params[:state] == 'rejected' && @count['rejected'] == 1
        -#   = "#{@count['rejected']} Application Rejected" 
        -# - if params[:state] == 'rejected' && @count['rejected'] == nil
        -#   = "0 Applications Rejected" 
        -# - if params[:state] == 'rejected' && @count['rejected'] != 1 && @count['rejected'] != nil
        -#   = "#{@count['rejected']} Applications Rejected" 
        -# - if params[:state] == 'withdrawn' && @count['withdrawn'] == 1
        -#   = "#{@count['withdrawn']} Application Withdrawn" 
        -# - if params[:state] == 'withdrawn' && @count['withdrawn'] == nil
        -#   = "0 Applications Withdrawn" 
        -# - if params[:state] == 'withdrawn' && @count['withdrawn'] != 1 && @count['withdrawn'] != nil
        -#   = "#{@count['withdrawn']} Applications Withdrawn" 
        -# - if params[:state] == 'submitted' && @count['submitted'] == 1
        -#   = "#{@count['submitted']} Application Submitted" 
        -# - if params[:state] == 'submitted' && @count['submitted'] == nil
        -#   = "0 Applications Submitted" 
        -# - if params[:state] == 'submitted' && @count['submitted'] != 1 && @count['submitted'] != nil
        -#   = "#{@count['submitted']} Applications Submitted" 
    
