.container
  .row
    .col
      %h2.float-left Applicants
    .col
      .btn-group.float-right
        %button.btn.btn-light.float-right= link_to 'Export All as CSV', reu_program_applications_path(format: 'csv')
        %button.btn.btn-light.float-right= link_to 'Export All as PDF', reu_program_applications_path(format: 'pdf')
  .row
    .col
      .btn-group.mb-3
        = link_to 'All', reu_program_applications_path, class: "btn btn-outline-secondary #{'active' if params[:state].blank?}"
        - Application.states.each do |state|
          - s = state.first
          = link_to s.capitalize, reu_program_applications_path(state: s), class: "btn btn-outline-#{status_class(s)} #{'active' if s == params[:state]}"
  .row
    .col
      %table.table
        %thead
          %tr
            %th Name
            %th Email
            %th State
            %th Actions
        %tbody
          - @applications.each do |application|
            %tr
              %td= application.full_name
              %td= application.user.email
              %td= application.state
              %td.actions
                .btn-group
                  = link_to 'Show', reu_program_application_path(application), class: 'btn btn-outline-secondary btn-sm'
                  = link_to 'PDF', reu_program_application_path(application, format: 'pdf'), class: 'btn btn-outline-secondary btn-sm'
                  = link_to 'CSV', reu_program_application_path(application, format: 'csv'), class: 'btn btn-outline-secondary btn-sm'
  .row
    .col
      = paginate @applications
