.row
  .col-2
  .col-8
    %h2.float-left Applicants
    .btn-group
      %button.btn.btn-light.float-right= link_to 'Export All as CSV', reu_program_applicants_path(format: 'csv')
      %button.btn.btn-light.float-right= link_to 'Export All as PDF', reu_program_applicants_path(format: 'pdf')
  .col-2
.row
  .col-2
  .col-8
    %table.table
      %thead
        %tr
          %th Name
          %th State
          %th Actions
      %tbody
        - @applicants.each do |applicant|
          %tr
            %td= link_to applicant.applicant_datum.data["profile"]["first_name"] + " " + applicant.applicant_datum.data["profile"]["last_name"], reu_program_applicant_path(applicant)
            %td= applicant.state
            %td.actions
              = link_to 'PDF', reu_program_applicant_path(applicant, format: 'pdf') |
              = link_to 'CSV', reu_program_applicant_path(applicant, format: 'csv')
    .col-2