.container
  = simple_form_for [:reu_program, @form, @section], html: { class: 'section_form' } do |f|
    .row
      .col
        = f.input :title, as: :string
    - unless f.object.important =~ /recommendation/
      .row
        .col
          = f.input :repeating,
                    hint: 'Allow this section to be submitted multiple times. Example: allow multiple address or academic records'
        .col.count_field(style="#{f.object.repeating ? '' : 'display: none;'}")
          = f.input :count,
                    label: 'Required Count',
                    input_html: { max: 3, min: 1 },
                    hint: 'How many versions of this form do you want submitted'
    .row
      .col
        = f.submit 'Save Section', class: 'btn btn-primary'


:javascript
  (function() {
    $('[name="section[repeating]"]').on('change', function() {
      $('.count_field').toggle()
    })
  })()
