%p
  %aside{ :id => "footer-widgets"}
    %div.container
      %div{ :class => "row", :id => "sitem" }
        %div{ :class => "col-md-6", :id => "sitem" }
          %h3.footer-widget-title
            Sitemap
          %ul.list-unstyled.three_cols
            - if params[:controller] == 'welcome'
              %li.active
                =link_to "Welcome", root_path, :class => 'active'
            - else
              %li
                =link_to "Welcome", root_path, :class => 'active'
            - if params[:controller] == 'applicants/registrations' && params[:action] !=  'status'
              - if applicant_signed_in?
                %li.active
                  =link_to "Profile", edit_applicant_registration_path, :class => 'active'
              - else
                %li.active
                  =link_to "Apply Now", new_applicant_registration_url, :class => 'active'
                  =content_tag :li, link_to('Admin', rails_admin_path)
            - else
              - if applicant_signed_in?
                %li
                  =link_to "Profile", edit_applicant_registration_path, :class => 'active' unless current_applicant.submitted_at
              - else
                %li
                  =link_to "Apply Now", new_applicant_registration_url, :class => 'active'
                  =content_tag :li, link_to('Admin', rails_admin_path)


            - if params[:controller] == 'applicants/academic_records'
              - if applicant_signed_in?
                %li.active
                  =link_to "Academic Records", applicants_records_url, :class => 'active' unless current_applicant.submitted_at
            - else
              - if applicant_signed_in?
                %li
                  =link_to "Academic Records", applicants_records_url, :class => 'active' unless current_applicant.submitted_at


            - if params[:controller] == 'applicants/recommenders'
              - if applicant_signed_in?
                %li.active
                  =link_to "Recommendation", applicants_recommenders_url, :class => 'active' unless current_applicant.submitted_at
            - else
              - if applicant_signed_in?
                %li
                  =link_to "Recommendation", applicants_recommenders_url, :class => 'active' unless current_applicant.submitted_at


            - if params[:controller] == 'applicants/registrations' && params[:action] ==  'status'
              - if applicant_signed_in?
                %li.active
                  =link_to "Status", applicant_status_url, :class => 'active'
            - else
              - if applicant_signed_in?
                %li
                  =link_to "Status", applicant_status_url, :class => 'active'

            - if params[:controller] == 'applicants/sessions'
              - if applicant_signed_in? || user_signed_in? #|| user_signed_in?
                %li.active
                  = user_signed_in? ? link_to("Logout1", destroy_user_session_path, :method => :delete) : link_to("Logout", destroy_applicant_session_path, :method => :delete)
              - else
                %li.active
                  = link_to "Login", new_applicant_session_url, :class => 'active'
            - else
              - if applicant_signed_in? || user_signed_in? #|| user_signed_in?
                %li
                  = user_signed_in? ? link_to("Logout", destroy_user_session_path, :method => :delete) : link_to("Logout", destroy_applicant_session_path, :method => :delete)
              - else
                %li
                  = link_to "Login", new_applicant_session_url, :class => 'active'


          %div{ :class => "col-md-6", :id => "subscribe" }
            %h3.footer-widget-title
              Subscribe
            %p
              Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.

          %div.input-group
            %input{ :type=> "text", :class => "form-control",  :placeholder => "Email Address" }
            %span.input-group-btn
              %button{ :class => "btn btn-ar btn-primary", :type => "button" }
                Subscribe

  %div{ :id => "footer" }
    %span
      Copyright
      = "#{Date.today.year}"
      = link_to "Regents of the University of California", "http://www.universityofcalifornia.edu/regents/"
      | All Rights Reserved
      %span.hidden-phone
      |
