%aside#footer-widgets
  .row
    .col-md-8.col-md-offset-2
      %ul.list-unstyled
        %li.pull-left
          =link_to "Welcome", root_path
        - if applicant_signed_in?
          %li.pull-left
            = link_to 'Application', application_path
          %li.pull-left
            = link_to 'Recommenders', recommenders_path
          %li.pull-left
            = link_to 'Status', status_path
          %li.pull-left
            = link_to "Logout", destroy_applicant_session_path, method: :delete
        - else
          - if started? && !expired?
            %li.pull-left
              = link_to "Apply Now", new_applicant_registration_url
            %li.pull-left
              = link_to "Login", new_applicant_session_url, class: 'active'
        %li.pull-left
          = link_to 'Admin', reu_program_dashboard_path
      %div.col-md-11
        %p
          If you have any comments, questions, or suggestions, please contact us at
          %a(href='mailto:aengler@ucsd.edu')
            aengler@ucsd.edu.
        %p
          The REU Manager online application management system is freely available for use by other undergraduate research programs. Development for this project is supported by NSF EEC-1062979.

%div#footer
%span
  © 2015 - #{Time.now.year}. All rights reserved. XHTML1, CSS3, and Section 508 valid.
