= render "layouts/navbar"

%header.container
  .header-inner.main-header
    -# %h1{ :id => "header_link_1" }
    -#   #{link_to(Setting[:university], Setting[:university_url])}
    -#   - if Setting[:department]
    -#     | , #{link_to(Setting[:department], Setting[:department_url])}
    %h2{ :id => "header_link_2" }
      = link_to("#{Setting[:app_title]}", Setting[:program_url])
