%div.img-container
  %div.overlay
    .container
      .row
        .col.py-4.px-4
          .h1.h1-responsive.heading-text
            = Setting[:app_title].present? ? Setting[:app_title] : 'Program Title'
          .h3.h3-responsive
            - university = Setting[:university].present? ? Setting[:university] : 'University Name'
            - if Setting[:university_url].present?
              = link_to university, Setting[:university_url], class: 'text-dark'
            - else
              = university
          .h4.h4-responsive
            - department = Setting[:department].present? ? Setting[:department] : 'Department Name'
            - if Setting[:department_url].present?
              = link_to department, Setting[:department_url], class: 'text-dark'
            - else
              = department
