%nav.navbar.navbar-default.yamm.navbar-static-top#header{ role: "navigation" }
  %div.container
    %div.navbar-header
      %button.navbar-toggle(type="button" data_toggle="collapse" data_target="#bs-example-navbar-collapse-1")
        %span.sr-only
          Toggle navigation
          %i.fa.fa-bars
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right
          %li{ class: '' }
            = link_to "#{Setting[:university]&.titleize || 'University Name'}".html_safe, root_path, class: 'navbar-brand', id: 'ar-brand'
          %li{ class: params[:controller] == 'welcome' ? 'active' : '' }
            =link_to "Welcome", root_path
          - if applicant_signed_in?
            %li{ class: '' }
              = link_to 'Application', application_path
            %li{ class: ''}
              = link_to 'Recommenders', recommenders_path
            %li{ class: ''}
              = link_to 'Status', status_path
            %li{ class: ''}
              = link_to "Logout", destroy_applicant_session_path, method: :delete
          - else
            - if started? && !expired?
              %li{ class: ''}
                = link_to "Apply Now", new_applicant_registration_url
              %li{ class: ''}
                = link_to "Login", new_applicant_session_url, class: 'active'
          %li{ class: '' }
            = link_to 'Admin', reu_program_dashboard_path

