<!DOCTYPE html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <!-- Preloader -->
  <div id="preloader">
      <div id="status">&nbsp;</div>
  </div>

  <body>
    <div id='flash'>
      <%= content_tag 'div', (flash[:alert]), :class => 'alert alert-warning', :id => 'alert', :onclick => "$(this).slideUp();" if flash[:alert] %>
      <%= content_tag 'div', (flash[:error]), :class => 'alert alert-danger', :id => 'error', :onclick => "$(this).slideUp();" if flash[:error] %>
      <%= content_tag 'div', (flash[:notice]), :class => 'alert alert-info', :id => 'notice', :onclick => "$(this).slideUp();" if flash[:notice] %>
      <%= content_tag 'div', (flash[:success]), :class => 'alert alert-success', :id => 'success', :onclick => "$(this).slideUp();" if flash[:success] %>
    </div>
    <div id="sb-site">
      <div class="boxed">
        <header id="header">
          <% if is_subdomain? %>
            <%= render 'layouts/header' %>
          <% end %>
        </header>

        <section id="page">
          <div class="container">
            <div class="row">
              <div class="col-xs-12" >
                <h1 class="page-title"><%#= @page.title %></h1>
              </div>
            </div>
          </div>
          <% if is_subdomain? %>
            <div class='container content' %>
              <%= yield %>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        </section>

        <footer>
          <% if is_subdomain? %>
            <%= render "/layouts/footer_text" -%>
          <% end %>
        </footer>

      </div> <!-- boxed -->
    </div> <!-- sb-site -->

    <div id="back-top">
      <a href="#header"><i class="fa fa-arrow-up"></i></a>
    </div>
    <script src="https://js.stripe.com/v3/"></script>


  </body>
</html>
