<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <!-- Preloader -->
  <div id="preloader">
      <div id="status">&nbsp;</div>
  </div>

  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>

    <div id="sb-site">
      <div class="boxed">
        <header id="header">
          <%= render "/refinery/header" -%>
        </header>

        <section id="page">
          <div class="container">
            <div class="row">
              <div class="col-xs-12" >
                <h1 class="page-title"><%#= @page.title %></h1>
              </div>
            </div>
          </div>
          <%= yield %>
        </section>

        <footer>
          <%= render "/refinery/footer" -%>
        </footer>

      </div> <!-- boxed -->
    </div> <!-- sb-site -->

    <div id="back-top">
      <a href="#header"><i class="fa fa-arrow-up"></i></a>
    </div>
    <script src="https://js.stripe.com/v3/"></script>

    <%= render "/refinery/javascripts" %>

  </body>
</html>
