!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag 'application'
  / Preloader
  %body
    #preloader
      #status
    #flash
      - if flash[:notice]
        .alert.alert-info#notice(onclick="$(this).slideUp();")= flash[:notice]
      - if flash[:success]
        .alert.alert-success#success(onclick="$(this).slideUp();")= flash[:success]
      - if flash[:alert]
        .alert.alert-warning#alert(onclick="$(this).slideUp();")= flash[:alert]
      - if flash[:error]
        .alert.alert-warning#error(onclick="$(this).slideUp();")= flash[:error]
    #sb-site
      .boxed
        %header#header
          - if subdomain?
            = render 'layouts/header'
        %section#page
          .container
            .row
              .col-xs-12
                %h1.page-title
          - if subdomain?
            .container.content
              = yield
          - else
            = yield
        %footer
          - if subdomain?
            = render "/layouts/footer_text"
    #back-top
      %a(href="#header")
        %i.fa.fa-arrow-up
    -# %script(src="https://js.stripe.com/v3/")
